<section class="container p-10">
  <div class="img">
    <img src="../../../assets/Group.png" alt="" />
  </div>

  <div class="login flex flex-col rounded-md">
    <!-- <notifier-container class="text-red-500 text-xl"></notifier-container> -->
    <h3 class="text-2xl m-0">Welcome to</h3>
    <h1 class="text-4xl font-extrabold text-blue-700 pb-8">InstaChat</h1>

    <form
      [formGroup]="registerForm"
      class="flex flex-col"
      (submit)="onSubmit()"
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Enter Your Email Address"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-radio-group class="pb-4 pl-1 text-white" formControlName="gender" aria-label="Select an option">
        <mat-label class="text-white">Gender </mat-label>
        <mat-radio-button class="text-white" value="male"><span class="text-white">Male</span></mat-radio-button>
        <mat-radio-button class="text-white" value="female"><span class="text-white">Female</span></mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" />
      </mat-form-field>
      <button [disabled]="isLoader" mat-flat-button>
        <ng-container *ngIf="isLoader; else buttonText">
          <mat-spinner diameter="30"></mat-spinner>
        </ng-container>
        <ng-template #buttonText>
          Register
        </ng-template>
      </button>

      <p class="text-center pt-2 text-sm">
        Alredy have an account?
        <a class="text-blue-600 underline" routerLink="/login"> Login</a>
      </p>
    </form>
  </div>
</section>
