<section
  class="flex gap-5 w-full items-center justify-between p-2 cursor-pointer hover:bg-gray-800/60 pl-4 border-b border-gray-800"
>
  <div class="flex gap-3 items-center">
    <div class="w-10 h-10 rounded-full relative">
      <img [src]="user?.profilePic" alt="" />
      <span *ngIf="isUserOnline" class="text-green-600 border-white text-5xl absolute bottom-2 left-7">•</span>
    </div>
    <div class="flex flex-col m-0">
      <p class="text-lg m-0">{{ user?.name }}</p>
      <span class="font-thin text-sm">Latest message</span>
    </div>
  </div>

  <span class="">4:40 pm</span>
</section>

