<main class="room">
  <section class="p-2 flex justify-between items-center border-b-2 pb-2">
    <div class="flex items-center gap-3">
      <div class="w-10 h-10 rounded-full relative">
        <img [src]="roomSelectedUser?.profilePic" alt="" />
        <span
          *ngIf="isUserOnline"
          class="text-green-600 border-black text-5xl absolute bottom-2 left-7"
          >•</span
        >
      </div>
      <div class="flex flex-col">
        <p>{{ roomSelectedUser?.name }}</p>
        <span class="flex items-center gap-2">
          {{ isUserOnline ? "Online" : "Offline" }}</span
        >
      </div>
    </div>
    <div>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon class="text-slate-600">call</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon class="text-slate-600">info</mat-icon>
      </button>
    </div>
  </section>

  <!-- Todo Chatting section -->
  <section class="h-full overflow-y-auto flex flex-col-reverse pt-2">
    <div class="flex flex-col justify-end w-full">
      <app-message-text
        *ngFor="let conversation of conversations"
        [conversation]="conversation"
        [roomSelectedUser]="roomSelectedUser"
      ></app-message-text>
    </div>
  </section>

  <section class="p-2">
    <div class="w-full flex gap-2 border-2 rounded-lg items-center">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon class="text-slate-600">upload</mat-icon>
      </button>

      <form class="flex w-full" (submit)="sendMessage()">
        <input
          class="w-full outline-none"
          placeholder="Type your message here...."
          type="text"
          [(ngModel)]="message"
          id="message"
          name="message"
        />
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon class="text-slate-600">send</mat-icon>
        </button>
      </form>
    </div>
  </section>
</main>
